h1 {
  text-align: center;
  font-size: 50px;
}
#timer {
  text-align: center;
}
#clear {
  text-align: center;
}
#start {
  text-align: center;
}
body {
  background-image: url(file:///C:/Users/emily/Desktop/TriviaGame/assets/images/background-disney.jpg);
}
p {
  font-weight: 700;
}